<section class="form-section">
	<div class="text">
		<h3>Fique por dentro de tendências</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione beatae
			veniam enim quia nihil. Temporibus, corporis distinctio! Culpa veritatis
			excepturi ullam assumenda aut perferendis animi cumque repudiandae,
			aliquid natus earum.
		</p>
	</div>
	<form [formGroup]="newsletterForm">
		<label for="name">Name</label>
		<input id="name" formControlName="name" />
		<label for="email">Email</label>
		<input id="email" formControlName="email" />
		<btn-primary
			btn-text="se inscreva"
			variant="secondary"
			(submit)="onSubmit()"
            [disabled]="!newsletterForm.valid"
            [loading]="loading()"
		></btn-primary>
	</form>
</section>
